USE [master]
GO
/****** Object:  Database [THUYTHU]    Script Date: 5/25/2020 3:25:15 PM ******/
CREATE DATABASE [THUYTHU]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'THUYTHU', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\THUYTHU.mdf' , SIZE = 3136KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'THUYTHU_log', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\THUYTHU_log.ldf' , SIZE = 784KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [THUYTHU].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [THUYTHU]
GO
/****** Object:  Table [dbo].[DANGKY]    Script Date: 5/25/2020 3:25:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DANGKY](
	[MATT] [char](10) NOT NULL,
	[MATAU] [char](10) NOT NULL,
	[NGAY] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[MATT] ASC,
	[MATAU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TAU]    Script Date: 5/25/2020 3:25:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TAU](
	[MATAU] [char](10) NOT NULL,
	[TENTAU] [nvarchar](50) NULL,
	[MAU] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[MATAU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[THUYTHU]    Script Date: 5/25/2020 3:25:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[THUYTHU](
	[MATT] [char](10) NOT NULL,
	[TENTT] [nvarchar](50) NULL,
	[BAC] [int] NULL,
	[TUOI] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MATT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[DANGKY]  WITH CHECK ADD FOREIGN KEY([MATAU])
REFERENCES [dbo].[TAU] ([MATAU])
GO
ALTER TABLE [dbo].[DANGKY]  WITH CHECK ADD FOREIGN KEY([MATT])
REFERENCES [dbo].[THUYTHU] ([MATT])
GO
USE [master]
GO
